.footsteps-up {
    background: url('../../images/steps.png');
    background-position-x: -30px;
    background-position-y: -60px;
    opacity: 0.2;
    width: var(--sprite-size);
    height: var(--sprite-size);
}

.footsteps-down {
    background: url('../../images/steps.png');
    background-position-x: -30px;
    background-position-y: -60px;
    opacity: 0.2;
    width: var(--sprite-size);
    height: var(--sprite-size);
}

.footsteps-left {
    background: url('../../images/steps.png');
    background-position-x: 0px;
    background-position-y: -20px;
    opacity: 0.2;
    width: var(--sprite-size);
    height: var(--sprite-size);
}

.footsteps-right {
    background: url('../../images/steps.png');
    background-position-x: -30px;
    background-position-y: -25px;
    opacity: 0.2;
    width: var(--sprite-size);
    height: var(--sprite-size);
}
