.golem-tile {
    background: no-repeat url('../../images/golem/south.png');
    background-size: 40px;
    width: var(--sprite-size);
    height: var(--sprite-size);
}

.golem-tile.moveDown {
    background: no-repeat url('../../images/golem/south.png');
    background-size: 40px;
}

.golem-tile.moveUp {
    background: no-repeat url('../../images/golem/north.png');
    background-size: 40px;
}

.golem-tile.moveRight {
    background: no-repeat url('../../images/golem/east.png');
    background-size: 40px;
}

.golem-tile.moveLeft {
    background: no-repeat url('../../images/golem/west.png');
    background-size: 40px;
}
