
.empty-tile {
    display: inline-block;

    width: var(--sprite-size);
    height: var(--sprite-size);
    background-color: gray;
    /*
    background: url('../../images/walls-floors.png') repeat;
    background-size: 86px;

     */
}

.chat-bubble-tile {
    background: white;
    width: 15px;
    height: 15px;
    border-radius: 5px;
    top: -10px !important;
    font-size: 12px;
}

.step-on-trigger-tile {
    background: dimgray;
    width: var(--sprite-size);
    height: var(--sprite-size);
}

.base-trigger-tile {
    background: transparent;
    width: var(--sprite-size);
    height: var(--sprite-size);
    opacity: 1;
}

.box-tile {
    background: url('../../images/box.png') repeat;
    background-size: 50px;
    background-position-x: -10px;
    background-position-y: -10px;
    width: var(--sprite-size);
    height: var(--sprite-size);
    opacity: 1;
}


.heart-tile {
    background: url('../../images/heart.png') no-repeat;
    background-size: 25px;
    background-position-x: 2px;
    background-position-y: 2px;
    width: var(--sprite-size);
    height: var(--sprite-size);

}


.box-tile.completed {
    opacity: 0.8;
    width: 28px;
    height: 28px;
    left: 1px !important;
    top: 1px !important;
}

.box-place-tile {
    width: 28px;
    height: 28px;
    border: 1px dashed red;
}

.box-place-tile.completed {
    background: green !important;
    border: 1px solid green;
}

.wall-tile {
    background: url('../../images/walls-floors.png') repeat;
    background-size: 86px;
    background-position-x: 0;
    background-position-y: 80px;
    width: var(--sprite-size);
    height: var(--sprite-size);
}

.portal-tile {
    background: #000;
    background-position-x: -5px;
    background-position-y: -5px;
    border-radius: 10px;
    width: var(--sprite-size);
    height: var(--sprite-size);
    opacity: 0.2;
}
