:root {
    --delft-blue: #3a405aff;
    --powder-blue: #aec5ebff;
    --champagne-pink: #f9dec9ff;
    --melon: #e9afa3ff;
    --umber: #685044ff;

    --floor-color: lightgrey;
    --sprite-size: 30px;
    --header-text-color: var(--primary-color);
    --primary-color: var(--powder-blue);
    --secndary-color: var(--champagne-pink);


}

.font-honk {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "MORF" 15,
    "SHLN" 50;
}

.font-puddle {
    font-family: "Rubik Puddles", system-ui;
    font-weight: 400;
    font-style: normal;
}


html body {
    margin: auto;
    overflow: hidden;
    background-color: var(--delft-blue);
    font-family: "Pixelify Sans", sans-serif !important;
    font-weight: 200;
    font-style: normal;
}

button, input, select, textarea {
    font-family: inherit;
}


#main-screen {
    width: 100%;
    min-width: 330px;
}

